#loader-wrapper {
		display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;

    .box5 {
        display: table-cell;
        vertical-align: middle;

        #bars {
            width: 80px;
            height: 30px;
            margin-left: auto;
            margin-right: auto;
            z-index: 1001;
            position: relative;

            .bar {
                background: black;
                bottom: 1px;
                height: 6px;
                position: absolute;
                width: 6px;
                -webkit-animation: sound 0ms -800ms linear infinite alternate;
                        animation: sound 0ms -800ms linear infinite alternate;
                z-index: 1001;
                &:nth-child(1)  { left: 1px; -webkit-animation-duration: 474ms; -moz-animation-duration: 474ms;}
                &:nth-child(2)  { left: 9px; -webkit-animation-duration: 433ms; -moz-animation-duration: 433ms;}
                &:nth-child(3)  { left: 17px; -webkit-animation-duration: 407ms; -moz-animation-duration: 407ms; }
                &:nth-child(4)  { left: 25px; -webkit-animation-duration: 458ms;  -moz-animation-duration: 458ms; }
                &:nth-child(5)  { left: 33px; -webkit-animation-duration: 400ms; -moz-animation-duration: 400ms; }
                &:nth-child(6)  { left: 41px; -webkit-animation-duration: 427ms; -moz-animation-duration: 427ms; }
                &:nth-child(7)  { left: 49px; -webkit-animation-duration: 441ms;  -moz-animation-duration: 441ms; }
                &:nth-child(8)  { left: 57px; -webkit-animation-duration: 419ms; -moz-animation-duration: 419ms; }
                &:nth-child(9)  { left: 65px; -webkit-animation-duration: 487ms; -moz-animation-duration: 487ms;}
                &:nth-child(10)  { left: 73px; -webkit-animation-duration: 442ms;  -moz-animation-duration: 442ms;}
            }

            h6 {
                color: #555;
                font-family: 'Amaranth', sans-serif;
                font-size: 19px ;
                left: 0;
                margin: 20px 0 0 0;
                position: absolute;
                top: 50%;
                text-align: center;
                width: 100%;
            }
        }
    }

    .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background-color: white;
        z-index: 1000;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);

        .navbar-toggle {
            display: none;
        }
    }

    .loader-section.section-left {
        left: 0;
    }

    .loader-section.section-right {
        right: 0;
    }
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
            transition: all 0.3s 1s ease-out;

    #bars {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }

    .loader-section.section-left {
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loader-section.section-right {
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
}

.no-js #loader-wrapper {
    display: none;
}

@-webkit-keyframes sound {
    0% {
		opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 50px;
    }
}

@keyframes sound {
    0% {
		opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 50px;
    }
}
