{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", {"legacy": true}],
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-transform-react-constant-elements", {"legacy": true}],
    ["@babel/plugin-transform-react-inline-elements", {"legacy": true}]
  ]
}
