#head { 
	display: block;

	.hello-wrapper {
		margin-top: 50px;
		margin-left: 180px;
		margin-right: 0px;
		@media (max-width: 992px) {
			margin-top: 50px;
			margin-left: 0px;
			right: 0;
		}

		.title {
			font-size: 7.5em;
			margin-bottom: 15px;
		}

		.subtitle { 
			line-height: .9em;
			font-size: 4em;
			margin-top: 0;
			margin-bottom: 40px; 
		}

		.tagline { 
			font-size: 1.8em;
			font-family: 'Tw Cen MT';
			line-height: 1.3em;
			font-weight: normal;
			margin-bottom: 75px;
		}
	}
}